<!DOCTYPE html>
<html>
<head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../bower_components/materialize/dist/css/materialize.css"  media="screen,projection"/>
    <!--Import personal css file-->
    <link type="text/css" rel="stylesheet" href="../css/installCtrl.css"/>
    <link type="text/css" rel="stylesheet" href="../css/card.css"/>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="../../bower_components/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="../../bower_components/materialize/dist/js/materialize.js"></script>

<!--Import personal js files-->
<script type="text/javascript" src="../js/installCtrl.js"></script>
<!--<script type="text/javascript" src="../js/installCtrl_new.js"></script>-->
<!--install control-->
<form action="#" class="animation-selector">
    <div class="switch">
        <label>
            Cover
            <input type="checkbox" class="switch-btn">
            <span class="lever"></span>
            Push
        </label>
    </div>

</form>


<div class="card product-card card-1">
    <div class="card-content">
        <div class="product-icon"><img src="../img/autocad-2015-icon.png"/></div>
        <div class="product-name">AutoCAD LT X.2 Update</div>
        <div class="release-date">Released: 3days ago</div>
        <div class="product-size">23.5Mb</div>
        <div class="number-download">25,014<i class="mdi-file-file-download"></i></div>
        <div class="product-info">
            <dl>
                <dt>What's new</dt>
                <dd>Smart Center: easily create "center line" annotations between tow objects.</dd>
                <dd>Seamless update</dd>
            </dl>
        </div>
        <a class="learn-more">learn more</a>
        <a class="update-btn waves-effect waves-light btn-flat blue">update</a>
        <i class="arrow-icon mdi-hardware-keyboard-arrow-down"></i>
        <div class="progress-bar">
            <div class="progress green lighten-4">
                <div class="determinate green" style="width: 0%"></div>
            </div>
            <i class="close-icon mdi-navigation-close"></i>
            <span class="progress-state">downloading</span>
        </div>

    </div>
</div>
<div class="card product-card card-2">
    <div class="card-content">
        <div class="product-icon"><img src="../img/revit_logo.png"/></div>
        <div class="product-name">Revit Update</div>
        <div class="release-date">Released: 2 weeks ago</div>
        <div class="product-size">23.5Mb</div>
        <div class="number-download">25,014<i class="mdi-file-file-download"></i></div>
        <div class="product-info">
            <dl>
                <dt>What's new</dt>
                <dd>Smart Center: easily create "center line" annotations between tow objects.</dd>
                <dd>Seamless update</dd>
            </dl>
        </div>
        <a class="learn-more">learn more</a>
        <a class="update-btn waves-effect waves-light btn-flat blue">update</a>
        <i class="arrow-icon mdi-hardware-keyboard-arrow-down"></i>
        <div class="progress-bar">
            <div class="progress green lighten-4">
                <div class="determinate green" style="width: 0%"></div>
            </div>
            <i class="close-icon mdi-navigation-close"></i>
        </div>

    </div>
</div>

</body>
</html>