<!DOCTYPE html>
<html>
<head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../../bower_components/materialize/dist/css/materialize.css"  media="screen,projection"/>
    <!--Import personal css file-->
    <link type="text/css" rel="stylesheet" href="../css/sideNav.css"/>
    <link type="text/css" rel="stylesheet" href="../css/card.css"/>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="../../bower_components/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="../../bower_components/materialize/dist/js/materialize.js"></script>

<!--Import personal js files-->
<script type="text/javascript" src="../js/sideNav.js"></script>
<!--side nav bar-->
<nav id='sidebar'>
    <div class='header'><i class="expand-icon mdi-hardware-keyboard-arrow-right"></i></div>
    <ul>
        <li class="update-tab">
            <a href='#'><img class="nav-icon" src="../img/update-icon.png"/><span>Updates</span></a>
        </li>
        <li>
            <a class='active' href='#'><img class="nav-icon" src="../img/autocad-2015-icon.png"/><span>AutoCAD&nbspLT</span></a>
        </li>
        <li>
            <a href='#'><img class="nav-icon" src="../img/revit_logo.png"/><span>Revit</span></a>
        </li>
        <li>
            <a href='#'><img class="nav-icon" src="../img/a360.png"/><span>A360</span></a>
        </li>
        <li>
            <a href='#'><img class="nav-icon" src="../img/autocad-2015-icon.png"/><span>AutoCAD</span></a>
        </li>
    </ul>
</nav>

</body>
</html>